*{
  font-family: "Poppins" !important;
}
.navbar{
  /* background-color: #6c12a7; */
  background-color: white;
  box-shadow: #6c12a7 0px 1px 4px;
}
/* .navbar-brand{
  color: #fff;
}
.nav-item .nav-link{
  color: #fff;
} */
.nav-link.active{
  color: red !important;
}

.hero-container{
  min-height: 100vh;
  /* width: 100%; */
}
.hero-left{
  background-color: white;
  height: 100vh;
  background-image: url("./assets/hero-images/left-laptop.png");
  /* width: 100%; */
  background-repeat: no-repeat;
  background-position-y: -80px;
  /* background-position-x: -150px, -270px; */

}
.hero-right{
  background-color: white !important;
  min-height: 100vh;
  /* position: relative;
  box-shadow: inset 3px -7px 79px 175px rgba(255,255,255,1); */
}

.hero-right img{
  z-index: 1;
}
::-webkit-scrollbar {
  display: none;
}
.hero-left{

}
/* footer */
footer.footer{
  width: 100%;
  height: 500px;
  background-image: url("./assets/Wave.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 999999;
}
/* end footer */